 body{
     background: url(dragisa-braunovic-vAiCza4PuGk-unsplash.jpg);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     width: 100%;
     height: 100vh;
 }
 .login-box{
     max-width: 900px;
     float: none;
     margin: 150px auto;
 }
 .login-left{
     background: rgba(211, 211, 211, 0.5);
     padding: 30px;    
}
.login-right{
    background: #fff;
    padding: 30px;
}
.form-control{
    background-color: transparent !important;
}

a{
    color: #fff !important;
    margin-top: -200px !important;
}
h1{
    color: #fff !important;
    margin-top: 200px !important;
    text-align: center;
    text-transform: uppercase;
}